@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.font-istok-web {
  font-family: "Istok Web", sans-serif;
}

.display-shadow ul {
  display: none;
}

.display-shadow div {
  box-shadow: none;
}

.mantine-Modal-content {
  border-radius: 1rem !important;
}

html,
body {
  background-color: white;
}
@layer utilities {
  .custom-search-border {
    border: 2px solid transparent;
    border-radius: 0.5rem;
    background-image: linear-gradient(white, white),
      linear-gradient(to right, #3158d4, #7954f3, #bb46c1, #7b44af, #1c5edf);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 100% 100%, 100% 100%;
  }

  .custom-tenders-border {
    border: 2px solid transparent;
    border-radius: 0.5rem;
    background-image: linear-gradient(white, white),
      linear-gradient(to right, #3158d4, #7954f3, #bb46c1, #7b44af, #1c5edf);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    background-size: 100% 100%, 100% 100%;
  }
}

@media (min-width: 360px) and (max-width: 390px) {
  .specific-devices-position-login {
    min-height: 80vh;
    position: relative;
    top: 4vh;
  }
}

@media (width: 360px) and (height: 740px) {
  .specific-devices-position-login {
    min-height: 100vh;
    position: relative;
    top: 5vh;
  }
}
@media (min-width: 1192px) and (max-height: 539px) {
  .specific-devices-position-login {
    min-height: 100vh;
    position: relative;
  }
  .specific-devices-position {
    height: 130vh;
    background-color: rgb(245, 248, 255);
  }
}

@media (min-width: 390px) and (max-height: 844px) {
  .specific-devices-position-login {
    top: 5vh;
    position: relative;
  }
}

@media (min-width: 1192px) and (max-height: 730px) {
  .dialog-main {
    max-width: 60vw;
    max-height: 90vh;
    overflow-y: scroll;
  }
}
